
<div class="col-md-8">
<h1>レストランの更新</h1>

<%= render 'form' %>
</div>

<div class="col-md-4">

<!-- Shop登録-->
<a href="restaurants/new" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-plus">新規ショップの登録</span></a><br/>

<!-- Profile -->
<div class="panel panel-default">
<div class="panel-heading">
<strong><%= current_user.user_name %>さん</strong>
</div>
<div class="panel-body">
<div class="col-md-5">
<img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="img-responsive img-circle">
</div>
<div class="col-md-7">
<p>住所：東京都<br/>
趣味：すし<br/>
コメント数：<span class="badge">14</span>
</p>
</div>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->


    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
</div>
