<div class="col-md-8">
  <h1>トップページ一覧ページ</h1>
  <p>Find me in app/views/restaurants/index.html.erb</p>
    <% @restaurants.each do |restaurant| %>
    <p><%= restaurant.name %>
    <%= link_to '詳細情報', restaurant_path( restaurant )  %>
    </p>
  <% end %>
</div>

<div class="col-md-4">
  <div class="thumbnail">
  <p>イメージを乗せる</p>
  <div class="caption">
      <h3><%= current_user.user_name %></h3>
    </div>
  </div>

  <div class="list-group">
  <ul>
  <li>リストが入ります。</li>
  <li>リストが入ります。</li>
  <li>リストが入ります。</li>
  </ul>
  </div>
  </div>
</div>
