<div class="col-md-8">
<h1>レビューの編集</h1>
<ul>
<li>店舗名：<%= @restaurant.name%></li>
</ul>
<%= render 'form' %>
</div>

<div class="col-md-4">
  <div class="thumbnail">
  <p>イメージを乗せる</p>
  <div class="caption">
      <h3><%= current_user.user_name %></h3>
    </div>
  </div>

  <div class="list-group">
  <ul>
  <li>リストが入ります。</li>
  <li>リストが入ります。</li>
  <li>リストが入ります。</li>
  </ul>
  </div>
  </div>
</div>
